<h1>Hi! Please confirm your email!</h1>

<p>
    Hello and welcome, we are happy to have you among us. Your email has been verified, please confirm your registration <br><br>
    <a href="#"> {{ token }} </a>.
</p>

<p>
    Cheers!
</p>